.menu-part {
    margin-left: 10vw;
    margin-right: 8vw;
    margin-top: 10vh;
    width: 82vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  #menu-heading {
    font-family: sans-serif;
    font-size: 29px;
    font-weight: 800;
  }
  
  .menu-text {
    max-width: 85%;
    font-size: 18px;
  }
  
  .menu-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 10px 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding-right: 20px;
  }
  
  .menu-list::-webkit-scrollbar {
    display: none;
  }
  
  .menu-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .menu-list-item.active {
    border: 4px solid tomato;
    padding: 2px;
  }
  
  .menu-list-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .menu-list-item p {
    margin-top: 5px;
  }
  
  .scroll-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .scroll-btn.left {
    left: -40px;
  }
  
  .scroll-btn.right {
    right: -40px;
  }
  #all-items{
    width: 120px;
    height: 25px;
    color: red;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
  }
  @media (max-width: 768px) {
    .menu-part {
      margin-left: 5vw;
      margin-right: 5vw;
      width: 90vw;
    }
  
    #menu-heading {
      font-size: 24px;
    }
  
    .menu-text {
      font-size: 16px;
    }
  
    .menu-list-item img {
      width: 100px;
      height: 100px;
    }
  
    .menu-list-item p {
      font-size: 14px;
    }
  
    .scroll-btn {
      padding: 5px;
      display: block;
    }
  
    .scroll-btn.left {
      left: -20px;
    }
  
    .scroll-btn.right {
      right: -20px;
    }
  }
  
  @media (min-width: 769px) {
    .scroll-btn {
      display: none;
    }
  }
  