
.place-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
}

.place-order-left {
  width: 60%;
  padding-right: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.multi-fields {
  display: flex;
  gap: 10px;
}

.multi-fields input {
  flex: 1;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.place-order-right {
  width: 35%;
  padding-left: 20px;
}

.cart-bottom {
  margin-top: 20px;
}

.cart-total h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-total-details p {
  margin: 0;
  font-weight: 600;
  color: #555;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


.CardElement {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 20px);
}

.StripeElement {
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 992px) {
  .place-order {
      flex-direction: column;
  }

  .place-order-left,
  .place-order-right {
      width: 100%;
      padding: 0;
  }

  .place-order-left {
      margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .multi-fields {
      flex-direction: column;
  }

  .multi-fields input {
      width: 100%;
  }

  .cart-total h2 {
      font-size: 22px;
  }

  button[type="submit"] {
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .place-order {
      padding: 15px;
  }

  .title {
      font-size: 20px;
  }

  input[type="text"],
  input[type="email"],
  button[type="submit"] {
      font-size: 14px;
  }
}
