.navbar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    background-color: #e6d5d5;
  }
 
  .navbar img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  #food{
    color: tomato;
  }
  